In [1]:
import numpy as np 
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [20]:
df1 = pd.read_csv('redhat_data_new/Submission_leak_happycube_python.csv')
df2 = pd.read_csv('model_sub_81k_1080.csv')
df3 = pd.read_csv('redhat_data_new/gpsubmission.csv')
#df2 = pd.read_csv('redhat_data_new/Submission_leak_loisso_r.csv')

act_train_data = pd.read_csv("redhat_data_new/act_train_new_try2.csv",dtype={'people_id': np.str, 'activity_id': np.str, 'outcome': np.int8}, parse_dates=['date'])
act_test_data  = pd.read_csv("redhat_data_new/act_test_new_try2.csv", dtype={'people_id': np.str, 'activity_id': np.str}, parse_dates=['date'])
people_data    = pd.read_csv("redhat_data_new/people.csv", dtype={'people_id': np.str, 'activity_id': np.str, 'char_38': np.int32}, parse_dates=['date'])

In [22]:
aa = df1[((df1.outcome>=0.8)|(df1.outcome<=0.2))]
ab = df1[~((df1.outcome>=0.8)|(df1.outcome<=0.2))]

In [23]:
ab.shape

(70933, 2)

In [24]:
ab.outcome.value_counts().head()

0.505768    69073
0.575758       47
0.606061       41
0.500000       40
0.393939       30
Name: outcome, dtype: int64

In [25]:
c = list(set(ab.activity_id.unique())&set(df3.activity_id.unique()))

In [26]:
len(c)

70933

In [27]:
ac = df3.loc[df3['activity_id'].isin(c)]
ad = df3.loc[~df3['activity_id'].isin(c)]
ac.shape,ad.shape

((70933, 2), (427754, 2))

In [11]:
len(set(ac.activity_id.unique())|set(aa.activity_id.unique()))

498687

In [31]:
ae = aa.append(ac, ignore_index=True)

In [32]:
ae.shape

(498687, 2)

In [33]:
ae.index = ae.activity_id.values
ae.head()

               activity_id  outcome
act1_249281    act1_249281      0.0
act2_230855    act2_230855      0.0
act1_240724    act1_240724      1.0
act1_83552      act1_83552      1.0
act2_1043301  act2_1043301      1.0

In [34]:
df1.index = df1.activity_id.values
df1.tail()

               activity_id  outcome
act2_4367092  act2_4367092      0.0
act2_4404220  act2_4404220      0.0
act2_448830    act2_448830      0.0
act2_450133    act2_450133      0.0
act2_847967    act2_847967      0.0

In [35]:
af = ae.ix[df1.index]

In [36]:
af.head()

               activity_id  outcome
act1_249281    act1_249281      0.0
act2_230855    act2_230855      0.0
act1_240724    act1_240724      1.0
act1_83552      act1_83552      1.0
act2_1043301  act2_1043301      1.0

In [37]:
af.to_csv('model_sub_81k_with_leak3.csv', index=False)

In [38]:
!zip model_sub_81k_with_leak3.csv.zip model_sub_81k_with_leak3.csv

  adding: model_sub_81k_with_leak3.csv (deflated 71%)