In [1]:
import numpy as np 
import pandas as pd

In [2]:
df1 = pd.read_csv('redhat_data_new/Submission_leak_happycube_python.csv')
#df2 = pd.read_csv('redhat_data_new/Submission_leak_loisso_r.csv')

act_train_data = pd.read_csv("redhat_data_new/act_train.csv",dtype={'people_id': np.str, 'activity_id': np.str, 'outcome': np.int8}, parse_dates=['date'])
act_test_data  = pd.read_csv("redhat_data_new/act_test.csv", dtype={'people_id': np.str, 'activity_id': np.str}, parse_dates=['date'])
people_data    = pd.read_csv("redhat_data_new/people.csv", dtype={'people_id': np.str, 'activity_id': np.str, 'char_38': np.int32}, parse_dates=['date'])

In [3]:
act_test_data['outcome'] = df1['outcome']

act_test_data['tget'] = np.where(((act_test_data['outcome']<=0.1)|(act_test_data['outcome']>=0.9)), 1., 0.)

a = act_test_data[act_test_data.tget==1.0]
b = act_test_data[act_test_data.tget==0]
a.shape,b.shape

((427060, 16), (71627, 16))

In [4]:
a.drop(['tget'],axis=1,inplace=True)
b.drop(['tget'],axis=1,inplace=True)
c = list(set(a.people_id.unique())&set(b.people_id.unique()))
len(c)

/home/choudharyk0408/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/choudharyk0408/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

303

In [5]:
d = a.loc[a['people_id'].isin(c)]
e = a.loc[~a['people_id'].isin(c)]
d.shape,e.shape

((10528, 15), (416532, 15))

In [6]:
#b.people_id.unique().shape

In [7]:
e['tget'] = np.where((e['outcome']>0.8), 1., 0.)
e.drop(['outcome'],axis=1,inplace=True)
e = e.rename(columns = {'tget':'outcome'})
f = b.append(d, ignore_index=True)
g = act_train_data.append(e, ignore_index=True)
f.shape,g.shape

/home/choudharyk0408/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/choudharyk0408/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

((82155, 15), (2613823, 15))

In [8]:
f.shape[0]+g.shape[0],act_train_data.shape[0]+act_test_data.shape[0]

(2695978, 2695978)

In [9]:
(set(f.people_id.unique())&set(g.people_id.unique()))

set()

In [10]:
g.outcome.value_counts()

0.0    1428772
1.0    1185051
Name: outcome, dtype: int64

In [11]:
f.outcome.value_counts().head(8)

0.505768    69073
1.000000     6179
0.000000     2551
0.950000      727
0.050000      571
0.575758       47
0.606061       41
0.500000       40
Name: outcome, dtype: int64

In [12]:
f.drop(['outcome'],axis=1,inplace=True)

In [17]:
g.sort_values(by='people_id',inplace=True)
f.sort_values(by='people_id',inplace=True)

In [26]:
g.head(20)

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0.0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
5,ppl_100,act2_898576,2023-08-04,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0.0
6,ppl_100002,act2_1233489,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
7,ppl_100002,act2_1623405,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
27,ppl_100003,act2_3990676,2023-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1.0
28,ppl_100003,act2_4102292,2023-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
29,ppl_100003,act2_4160587,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
30,ppl_100003,act2_4392666,2022-08-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
31,ppl_100003,act2_4438110,2022-08-25,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
32,ppl_100003,act2_4511875,2022-09-06,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
33,ppl_100003,act2_4568041,2022-08-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
37,ppl_100003,act2_666224,2023-02-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 503,1.0
35,ppl_100003,act2_4665065,2022-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
36,ppl_100003,act2_4808411,2022-08-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1.0
26,ppl_100003,act2_3867292,2023-02-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
38,ppl_100003,act2_6962,2023-06-28,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1.0

In [19]:
f.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100179,act2_2277070,2022-09-02,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 23
1,ppl_100179,act2_3152044,2022-09-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
12,ppl_100322,act2_927116,2023-01-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
11,ppl_100322,act2_534352,2023-01-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
9,ppl_100322,act2_471550,2023-01-11,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1

In [20]:
f.shape,g.shape

((82155, 14), (2613823, 15))

In [21]:
g.to_csv('act_train_new_try2.csv',index=False)
f.to_csv('act_test_new_try2.csv',index=False)